  <ion-list> 
    <ion-card *ngFor="let item of items" class="movies" (onCreate)="setCorrectValuesToItem(item)">
      
      <ion-card-header>
        <ion-item>
          <ion-avatar item-left>
            <img src="{{item.image}}">

          </ion-avatar>
          {{item.name}}
          <p *ngIf="item.also_known_as_string">{{item.also_known_as_string}}</p>

          <button ion-button icon-left  (click)="viewDetails($event, item)" clear item-right>
            <ion-icon name="eye"></ion-icon>
            More Details
          </button>
        </ion-item>
      </ion-card-header>

      <ion-card-content class="outer-content" *ngIf="item.overview">
          <h3>About {{item.name}}</h3>
          <p class="item-description">{{item.overview | strlength}}</p>
      </ion-card-content>

      <ion-item>
        <button ion-button icon-left (click)="openAppShare(item)" clear item-right>
          <ion-icon name="share"></ion-icon>
          Share
        </button>
      </ion-item>

    </ion-card>
  </ion-list>