page-find-actor-by-movies {

.movie-item:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px #00bfff;
}

.card-header-center {
  text-align: center;
} 

.card-title {
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px -1px 1px #ddd; 
}

.place-holder-item {
  font-size: 0.9em;
  color: #ddd;
}

}
