<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Actor By Movies</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-toolbar primary >
    <ion-searchbar (ionInput)="searchMoviesAutoComplete($event, searchKey)" #searchBar autocorrect="off" (onCreate)="setFocus()"
     placeholder="{{searchBarTitle}}" [showCancelButton]="true">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let movie of movies" #movieItem class="movie-item" (click)="addToSelectedMovies(movie)">
      {{ movie.title }}
    </ion-item>
  </ion-list>  

  <ion-card>
    <ion-card-header class="card-header-center card-title">
      Selected Movies
    </ion-card-header>
    <ion-list>
      <card-list [items]="selectedMovies" [showDetails]="false" [showCloseButton]="true"
              (clickGoToDetails)="goToMovieDetails($event, movie)"
              (clickRemoveCard)="removeCard($event, movie)"
      >
      </card-list>
    </ion-list>    
  </ion-card>

  <ion-card>
    <ion-card-header class="card-header-center card-title">
      Possible actors
    </ion-card-header>
    <ion-list>
      <ion-item *ngIf="actorsFound?.length == 0" id="place-holder-item"  class="place-holder-item">
        Select at least two movies
      </ion-item>
      <card-list [items]="actorsFound" (clickGoToDetails)="goToActorDetails($event, actorsFound)"></card-list>
    </ion-list>    
  </ion-card>

</ion-content>
