<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Movie DB APP</ion-title>
  </ion-navbar>
</ion-header>
 

<ion-content class="outer-content home" class="no-padding">
<h2>Most Popular Movies</h2>
<ion-grid>
  <ion-row *ngFor="let item of movies" class="no-padding">
    <ion-col *ngFor="let movie of item" class="no-padding">
      <ion-card class="my-card no-padding">
        <img src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>