<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Movie DB APP</ion-title>
  </ion-navbar>
</ion-header>

 

<ion-content class="no-padding">
  <ion-segment class="seg-button-group">
    <ion-segment-button value="now_paying" class="segment-activated" (click)="getNowPlayingMovies()">
        Now Playing
    </ion-segment-button>
    <ion-segment-button value="upcoming" (click)="getUpcomingMovies()">
        Upcoming
    </ion-segment-button>
    <ion-segment-button value="popular" (click)="getPopularMovies()">
        Popular
    </ion-segment-button>
  </ion-segment>
  
  <ion-grid class="">
    <ion-row *ngFor="let item of movies" class="no-padding card-background-page">
      <ion-col *ngFor="let movie of item" class="no-padding">
        <ion-card class="my-card no-padding" (click)="goToDetails(movie)">
          <img src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}">
          <div class="card-title">{{movie.original_title}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>