<ion-header>
    <ion-navbar>
        <ion-title>
            Actor Info
        </ion-title>
    </ion-navbar>
</ion-header>
 
<ion-content class="home" padding>
    <div *ngIf="actor" class="selection">
        <ion-card>
            <ion-item>
                <ion-avatar item-left image-large>
                    <img src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}"/>
                </ion-avatar>
                <ion-card-content class="actor-title-data">
                    <h1>{{ actor.name }}</h1>
                    <p *ngIf="actor.also_known_as_string"> {{ actor.also_known_as_string }} </p>
                    <p>{{actor.birthday | date }}</p>
                </ion-card-content>
            </ion-item>
 
            <ion-item>
                <i class="ion-document-text" item-left></i>
                <h2>Biography</h2>
                {{ actor.biography }}
            </ion-item>
            <ion-item>
                <i class="ion-bookmark" item-left></i>
                <h2>Popularity</h2>
                <p>{{ actor.popularity }}</p>
            </ion-item>    
        </ion-card>
    </div>
</ion-content>